---
title: Chemex
---
<section class="splash">
  <div class="hero">
    <div class="hero_header">
      <h1>Elevate <br> your Coffee </br></h1>
    </div>
    <div class="hero_body">
      <p>With a design and process that hasn’t changed since 1941, Chemex brings the coffee shop to you.
        In just a few simple steps, Chemex turns your favorite brand of coffee into the perfect cup of coffee every time.</p>
    </div>
  </div>
</section>

<section class="process">
  <div class="process_header">
      <h1>A Simple Process</h1>
  </div>
  <div class="process_steps">
    <div class="process_step1">
      <div class="process_stepTitle">
        <h5>1. PREP</h5>
      </div>
      <div class="process_stepInfo">
        <p>Use your kettle to bring water to a boil. While the water is boiling, place the filter in the top of your Chemex and fill with your favorite ground coffee.
        Put one rounded tablespoon of ground coffee for every 5 oz. cup into the filter cone.</p>
      </div>
    </div>
    <div class="process_step2">
      <div class="process_stepTitle">
        <h5>2. BREW</h5>
      </div>
      <div class="process_stepInfo">
        <p>Pour a small amount of water over the coffee grounds to wet them and wait for 30 seconds for them to “bloom”, releasing the most desirable elements from the grounds.
        Slowly pour the water over the grounds in a circular motion, keeping the water level below the top of the Chemex. </p>
      </div>
    </div>
    <div class="process_step3">
      <div class="process_stepTitle">
        <h5>3. POUR</h5>
      </div>
      <div class="process_stepInfo">
        <p>Once the desired amount of coffee is brewed, lift the filter out and discard. Pour your perfect cup of coffee and enjoy!
        In order to keep your coffee warm you may place the Chemex directly on either a glass stove top or gas flame both at low heat.</p>
      </div>
    </div>
  </div>
</section>
