---
title: Chemex
---

<header>
  <nav class="nav-header">
    <div class="logo-header">
      <div id="logo-desktop"><img src="images/ChemexLogo.png" alt="Chemex" /></a></div>
    </div>
    <div class="nav-home">
      <ul>
        <li><a href="#theProcess">The Process</a></li>
        <li><a href="#theScience">The Science</a></li>
        <li><a href="#findYourChemex">Find Your Chemex</a></li>
      </ul>
    </div>
    <div class="nav-shop">
      <ul>
        <!--<li><a href="">Sign In</a></li>-->
        <li class="cart"><a href=""><img src="images/icon_bag.png" alt="Cart" /></a></li>
      </ul>
    </div>
  </nav>
  <section class="splash">
    <div class="hero">
      <div class="hero_header">
        <h1>Elevate <br> your Coffee </br></h1>
      </div>
      <div class="hero_body">
        <p>With a design and process that hasn’t changed since 1941, Chemex brings the coffee shop to you.
          In just a few simple steps, Chemex turns your favorite brand of coffee into the perfect cup of coffee every time.</p>
      </div>
      <div class="clearfix">
      </div>
      <button class="btn_hero">Shop Chemex</button>
    </div>
  </section>
</header>

<section class="process" id="theProcess">
  <div class="section_header">
    <h1>A Simple Process</h1>
  </div>
  <div class="clearfix">
  </div>
  <div class="hero_body">
    <p>The simple Chemex brewing process allows for ultimate morning multitasking.
    With just a few simple steps, it’s easy to integrate the perfect cup of coffee into your morning routine.</p>
  </div>
  <div class="clearfix">
  </div>
  <div class="process_steps">
    <div class="process_step1">
      <div class="process_image">
        <img class="crop_image" src="images/proc_step1.png">
      </div>
      <div class="section_subtitle">
        <p>1. Prep</p>
      </div>
      <div class="section_body">
        <p>Use your kettle to bring water to a boil. While the water is boiling, place the filter in the top of your Chemex and fill with your favorite ground coffee.
        Put one rounded tablespoon of ground coffee for every 5 oz. cup into the filter cone.</p>
      </div>
    </div>
    <div class="process_step2">
      <div class="process_image">
        <img class="crop_image" src="images/proc_step2.png">
      </div>
      <div class="section_subtitle">
        <p>2. Brew</p>
      </div>
      <div class="section_body">
        <p>Pour a small amount of water over the coffee grounds to wet them and wait for 30 seconds for them to “bloom”, releasing the most desirable elements from the grounds.
        Slowly pour the water over the grounds in a circular motion, keeping the water level below the top of the Chemex. </p>
      </div>
    </div>
    <div class="process_step3">
      <div class="process_image">
        <img class="crop_image" src="images/proc_step3.png">
      </div>
      <div class="section_subtitle">
        <p>3. Pour</p>
      </div>
      <div class="section_body">
        <p>Once the desired amount of coffee is brewed, lift the filter out and discard. Pour your perfect cup of coffee and enjoy!
        In order to keep your coffee warm you may place the Chemex directly on either a glass stove top or gas flame both at low heat.</p>
      </div>
    </div>
  </div>
</section>

<section class="science" id="theScience">
  <div class="science_header">
    <div class="section_header">
        <h1>Good Science = <br> Better Coffee</h1>
    </div>
    <div class="clearfix">
    </div>
    <div class="hero_body">
      <p>The Chemex coffeemaker was invented in 1941 by the eccentric chemist Dr. Peter Schlumbohm. When designing the Chemex, Schlumbohm desired to not only make brewing the perfect cup simple, but also to have the vessel be a thing of beauty.
      Being a chemist, he studied and understood clearly the chemistry behind the extraction of flavor and caffeine from coffee beans.</p>
    </div>
  </div>
  <div class="clearfix">
  </div>
  <div class="science_expanded">
    <div class="science_filter">
      <div class="section_subtitle">
        <p>The Filter</p>
      </div>
      <div class="section_bodyWhite">
        <p>Chemex filters are 20-30% heavier than competitive brands and remove even the finest sediment particles as well as the undesirable oils and fats.
        The formulation of the filter permits the proper infusion time by regulating the filtration rate - not too slow, not too fast, giving the coffee a richer flavor.</p>
      </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="science_glass">
      <div class="section_subtitle">
        <p>The Glass</p>
      </div>
      <div class="section_bodyWhite">
        <p>Made simply from one piece of borosilicate glass and adorned with a wooden collar and rawhide tie, the Chemex is pure in both form and function.
        The non-porous Borosilicate glass will not absorb odors or chemical residues.</p>
      </div>
    </div>
  </div>
</section>

<section class="shop" id="findYourChemex">
  <div class="section_header">
    <h1>Find your Chemex</h1>
  </div>
  <div class="clearfix">
  </div>
  <div class="hero_body">
    <p>Find the perfect Chemex for your coffee. Our Classic Series has been brewing the perfect cup of coffee every morning since 1941.
    Browse the Chemex Shop for more styles and accessories.</p>
  </div>
  <div class="clearfix">
  </div>
  <button class="btn_shop">Browse Chemex Shop</button>
  <div class="clearfix">
  </div>
  <div class="products">
    <div class="prod_3cup">
      <div class="prod_image">
        <img class="crop_image" src="images/shop_3cup.jpg">
      </div>
      <div class="prod_title">
        <p>Three Cup Classic</p>
      </div>
      <div class="prod_price">
        <p>$38.90</p>
      </div>
      <button class="btn_add">Add to Cart</button>
    </div>
    <div class="prod_6cup">
      <div class="prod_image">
        <img class="crop_image" src="images/shop_6cup.jpg">
      </div>
      <div class="prod_title">
        <p>Six Cup Classic</p>
      </div>
      <div class="prod_price">
        <p>$43.50</p>
      </div>
      <button class="btn_add">Add to Cart</button>
    </div>
    <div class="prod_8cup">
      <div class="prod_image">
        <img class="crop_image" src="images/shop_8cup.jpg">
      </div>
      <div class="prod_title">
        <p>Eight Cup Classic</p>
      </div>
      <div class="prod_price">
        <p>$45.50</p>
      </div>
      <button class="btn_add">Add to Cart</button>
    </div>
    <div class="prod_10cup">
      <div class="prod_image">
        <img class="crop_image" src="images/shop_10cup.jpg">
      </div>
      <div class="prod_title">
        <p>Ten Cup Classic</p>
      </div>
      <div class="prod_price">
        <p>$47.50</p>
      </div>
      <button class="btn_add">Add to Cart</button>
    </div>
  </div>
</section>

<footer>
  <div class="footer-nav-block">
    <div class="footer-logo">
      <img src="images/ChemexLogo.png" alt="Chemex"/>
      <p class="copyright-block">&copy; 2017. <strong>Chemex</strong> - All Rights Reserved.</p>
    </div>
    <nav class="link-block">
      <ul>
        <li><a href="">Contact</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Sitemap</a></li>
        <li>Follow Us:
          <li class="soc_icon"><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
          <li class="soc_icon"><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </li>
      </ul>
    </nav>
    <!--<nav class="social">
      <ul>
        <li>Follow Us:</li>
        <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </nav>-->
  </div>
</footer>
